<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.unis.si.menu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".add_activity" android:screenOrientation="portrait"></activity>
        <activity android:name=".verMaisVinicius_activity" android:screenOrientation="portrait"/>
        <activity android:name=".verMaisSamuel_activity" android:screenOrientation="portrait"/>
        <activity android:name=".verMaisRenan_activity" android:screenOrientation="portrait"/>
        <activity android:name=".verMaisRegis_activity" android:screenOrientation="portrait"/>
        <activity android:name=".verMaisPedro_activity" android:screenOrientation="portrait"/>
        <activity android:name=".verMaisMarcelo_activity" android:screenOrientation="portrait"/>
        <activity android:name=".verMaisLuis_activity" android:screenOrientation="portrait"/>
        <activity android:name=".verMaisLauro_activity" android:screenOrientation="portrait"/>
        <activity android:name=".verMaisGabriel_activity" android:screenOrientation="portrait"/>
        <activity android:name=".verMaisCamilo_activity" android:screenOrientation="portrait"/>
        <activity android:name=".verMaisBruno_activity" android:screenOrientation="portrait"/>
        <activity android:name=".verMaisBreno_activity" android:screenOrientation="portrait"/>
        <activity android:name=".verMaisAnderson_activity" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".iniciando_activity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>